# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?
*.b$?
*.s$?
*.l$?

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
eagle.epf

# Autorouter files
*.pro
*.job

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs

*.dri
*.drl
*.gpi
*.pls
*.ger
*.gpi
*.xln

*.drd
*.drd.*

*.s#*
*.b#*

*.info

*.eps

# file locks introduced since 7.x
*.lck
/Firmware/.vs/T-Scan/v14/*.suo
/Firmware/.vs/grid-eye-visor/v14/.suo
/Firmware/*.opendb
/Firmware/T-Scan.VC.db
/Firmware/Debug
/Firmware/VisualGDB
/Firmware/TestLcdSpi/Debug
/Firmware/TestLcdSpi/VisualGDB
/Firmware/TestLcdSpi/TestLcdSpi.VC.db
/Firmware/TestLcdSpi/.vs/TestLcdSpi/v14/*.suo
/Firmware/TestLcdSpi/TestLcdSpi.VC.VC.opendb
/Firmware/.visualgdb
/Firmware/.vs
/Firmware/*.user
